# Core
numpy==1.26.4
scipy==1.15.0
PyYAML==6.0.3
tqdm==4.67.1

# Deep Learning
torch==2.6.0
torchvision
torchaudio

# Data handling
h5py==3.12.1
pandas==2.2.3

# Visualisation
matplotlib==3.10.0

# Experiment tracking
wandb==0.23.0

# Utilities
scikit-learn==1.6.1